---
import Layout from '../layouts/Layout.astro';
import Panel from '../components/Panel.astro';
import Prose from '../components/Prose.astro';
import PanelImage from '../components/PanelImage.astro';
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';

const items = await getCollection('portfolio');
---

<Layout>
  <article class="grid-container">
    <Panel class="col-1-1">
      <Prose>
        <h1>Portfolio</h1>

        <p>
          This is a selection of projects I have either created myself or been a lead developer on. This is just a small selection, I have completed many many more projects. 
        </p>
      </Prose>
    </Panel>

    {
      items.map((item) => (
        <PanelImage class="col-1-2" src={item.data.thumbnail} alt={item.data.thumbnailAlt} />
        <Panel class="col-1-2">
          <Prose>
          <section class="portfolioPage-item">
            <!-- <a href={'/portfolio/' + item.id}> -->
              <!-- <h2>{item.data.title}</h2> -->
            <!-- </a> -->
            <h2>{item.data.title}</h2>
            <ul class="flex gap-6">
              {item.data.tags.map((tag) => <li><small>{tag}</small></li>)}
            </ul>
            <p>{item.data.description}</p>
            <!-- <p> -->
              <!-- <a href={'/portfolio/' + item.id}>Read More</a> -->
            <!-- </p> -->
            <a href={item.data.url} target="_blank">Visit site <i class="i-iconoir:open-new-window"></i></a>
          </section>
          </Prose>
        </Panel>
      ))
    }
  </article>
</Layout>

<style>
</style>
